.Heading{
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    outline-style: solid;
    outline-color: black;
    outline-width: 10px;
    font-family: Luminari, fantasy;

    margin: 0px;
    padding: 5px;
}

.Heading2{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    outline-style: solid;
    outline-color: black;
    outline-width: 10px;
    font-family: Luminari, fantasy;

    margin: 0px;
    padding: 5px;

}