.Heading{
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;

    font-family: Luminari, fantasy;

    display: block;
    width: 100vw;

    margin: 0px;
    padding: 15px 0;
}

.Heading2{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    font-family: Luminari, fantasy;

    display: block;
    padding: 5px;
    width: 100vw;

}